@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-colors: #eab308;
  --gray-colors: #010d19;
}

body {
  @apply bg-gray-950 text-white font-Kanit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-colors);
}

::-webkit-scrollbar-track {
  background-color: var(--gray-colors);
}

::selection {
  @apply bg-primary text-black;
}

section {
  @apply py-24;
}

.home {
  @apply h-[100dvh] flex items-center justify-center;
}

.title-hero {
  @apply text-3xl  md:text-4xl xl:text-5xl font-bold;
}

.nav-link {
  @apply font-medium duration-300;
}

.nav-link:hover {
  @apply text-primary;
}

.active-menu {
  @apply text-primary font-semibold;
}

/* button */
.btn {
  @apply border border-primary text-gray-950 bg-primary rounded-md px-5 py-2 duration-300;
}

.btn:hover {
  @apply opacity-90;
}

.btn-outline {
  @apply bg-transparent text-white;
}

.btn-outline:hover {
  @apply bg-primary text-gray-950;
}

/* about header start */
.about-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/images/gambar-3.png");
  @apply w-full h-64 flex items-center justify-start bg-no-repeat bg-cover;
}
/* about-header end */

/* service header start */
.service-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/images/gambar-4.jpg");
  @apply w-full h-64 flex items-center justify-start bg-no-repeat bg-cover;
}
/* service-header end */

/* galeri header start */
.galeri-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/images/gambar-2.jpeg");
  @apply w-full h-64 flex items-center justify-start bg-no-repeat bg-cover;
}
/* galeri-header end */

/* kontak header start */
.kontak-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/images/kontak.webp");
  @apply w-full h-64 flex items-center justify-start bg-no-repeat bg-cover;
}
/* kontak-header end */

/* footer start */
footer h4 {
  position: relative;
}

footer h4::after {
  content: "";
  @apply w-10 h-2 bg-primary absolute right-0 -bottom-1 inline-block;
}
/* footer end */

/* pop up galeri */
#overlay-galeri {
  @apply w-full h-full fixed left-0 top-0 right-0 bottom-0 backdrop-blur-md bg-[rgba(0,0,0,0.5)] z-[100] flex justify-center items-center;
}

#overlay-galeri #content-galeri {
  @apply xl:w-[60%] md:w-[70%] w-[80%] z-10 flex-col-reverse;
}

#overlay-galeri #content-galeri img {
  @apply w-full h-full object-cover;
}

#overlay-galeri #popup-close:hover i {
  @apply duration-300 hover:rotate-180;
}

/* slider infinity */
.slider {
  width: 100%;
  overflow: hidden;
  height: var(--height-slider);
  mask-image: linear-gradient(to right, transparent, #000 10% 70%, transparent);
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width-slider) * var(--quantity-slider));
  position: relative;
}

.slider .list .item-box-slider {
  width: var(--width-slider);
  height: var(--height-slider);
  position: absolute;
  left: 100%;
  animation: autoSlider 10s linear infinite;
  animation-delay: calc((10s / var(--quantity-slider)) * (var(--position) - 1));
}

@keyframes autoSlider {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width-slider) * -1);
  }
}

.slider .list .item-box-slider img {
  width: 100%;
}

.slider:hover .item-box-slider {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider .item-box-slider:hover {
  filter: grayscale(0);
}
