@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-950 text-white font-Kanit;
}

::selection {
  @apply bg-primary text-black;
}

section {
  @apply py-24;
}

.home {
  @apply h-[100dvh] flex items-center justify-center;
}

.title-hero {
  @apply text-3xl  md:text-4xl xl:text-5xl font-bold;
}

.nav-link {
  @apply font-medium duration-300;
}

.nav-link:hover {
  @apply text-primary;
}

.active-menu {
  @apply text-primary font-semibold;
}

/* button */
.btn {
  @apply border border-primary text-gray-950 bg-primary rounded-md px-5 py-2 duration-300;
}

.btn:hover {
  @apply opacity-90;
}

.btn-outline {
  @apply bg-transparent text-white;
}

.btn-outline:hover {
  @apply bg-primary text-gray-950;
}

/* galeri header start */
.galeri-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/images/gambar-2.jpeg");
  @apply w-full h-64 flex items-center justify-start bg-no-repeat bg-cover;
}
/* galeri-header end */

/* kontak header start */
.kontak-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/images/kontak.webp");
  @apply w-full h-64 flex items-center justify-start bg-no-repeat bg-cover;
}
/* kontak-header end */

/* footer start */
footer h4 {
  position: relative;
}

footer h4::after {
  content: "";
  @apply w-10 h-2 bg-primary absolute right-0 -bottom-1 inline-block;
}
/* footer end */

/* pop up galeri */
#overlay-galeri {
  @apply w-full h-full fixed left-0 top-0 right-0 bottom-0 backdrop-blur-md bg-[rgba(0,0,0,0.5)] z-[100] flex justify-center items-center;
}

#overlay-galeri #content-galeri {
  @apply xl:w-[60%] md:w-[70%] w-[80%] z-10 flex-col-reverse;
}

#overlay-galeri #content-galeri img {
  @apply w-full h-full object-cover;
}
